
#dot cloud
.dotcloud

# composer should be installed locally
composer.phar

# ignore IDE
.idea

# symfony framework files
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml

