{% extends 'Matmar10TodoBundle::layout.html.twig' %}

{% block headExtra %}
{% endblock headExtra %}


{% block content %}
<div class="container">

    <section>
        <div class="row-fluid">
            <div class="span12">
                <h1>Login OK</h1>
            </div>
        </div>
    </section>

</div>
{% endblock content %}